.course-name {
  text-align: center;
  color: white;
}

.course-address {
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

.course-phone {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.course-rating {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black
}